{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <h1 class='text-center pt-5 pb-5'>Purpose</h1>
        <div class="container bg-light">
            <p class='text-wrap mx-auto md-font pt-5'>During my years in college I did not have much expendable money. Many others around the country undoubtedly share a similar standing, and not just college students. Each time I would go grocery shopping I had to be very aware of how much I was spending. I did a lot of hopping between stores never knowing which was truely the best deal.</p>
            <p class="text-wrap mx-auto md-font pt-5 pb-5">
                This web application is to test an implementation for providing a comparison between grocery stores prices. I was unable to find any pricing data openly so the data had to be personally collected and is <strong>GREATLY</strong> incomplete.
            </p>
        </div>
    </div>
{% endblock content %}