{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <h1 class='text-center pt-5 pb-5'>Purpose</h1>
        <div class="container bg-light">
            <p class='text-wrap mx-auto md-font pt-5'>
                For me, one challenged I faced during my time in university was supplying myself with groceries. When you don't have a steady income it is difficult to feel comfortable going to a grocery store and purchasing everything you wish to. I'm sure many people around the country and possibly the world can relate to this feeling.
            </p>
            <p class="text-wrap mx-auto md-font pt-5 pb-5">
                I personally was shocked at the fact that in this technological era there is no easy to access spot for grocery store data unless ordering a delivery of groceries from the store. The hope of this project is to overtime populate it with data that I can collect for grocery stores popular near me so that others have the ability to shop informed. 
            </p>
            <p class="text-wrap mx-auto md-font pb-5">
                Currently, the site has the potential to allow you to search for the price of an item across all stores where data has been collected. It also gives the ability to select a specific store and guage their prices of all items. A soon to come feature is the ability for one to provide a grocery list and get information across all stores of how costly the list would be at each store.
            </p>
        </div>
    </div>
{% endblock content %}