{% extends 'base.html' %}

{% block title %}{{store.name}}{% endblock title %}

{% block content %}
<div class="container">
    <h2 class='mt-3 mb-3 text-center'>Prices for items found at {{store.name}}</h2>
    <div class="container">
        <table class="table table-hover table-light">
            <thead>
                <tr>
                    <th scope='col'>Product</th>
                    <th scope='col'>Price</th>
                    <th scope='col'>Price per lb</th>
                </tr>
            </thead>
            <tbody>
                {% for item in store.items.all %}
                    <tr>
                        <th scope='row'>{{item.item}}</th>
                        {% if item.price == 0.00 %}
                            <th scope='row'>-</th>
                        {% else %}
                            <th scope='row'>${{item.price}}</th>
                        {% endif %}
                        {% if item.price_per_lb == 0.00 %}
                            <th scope='row'>-</th>
                        {% else %}
                            <th scope='row'>${{item.price_per_lb}}</th>
                        {% endif %}
                {% endfor %}    
                    </tr>
            </tbody>
        </table>
        
    </div>
</div>
{% endblock content %}